---
import { Image } from "astro:assets";
import logoImage from "/public/logo.png"; 
---

<a
  href="/"
  class="h-10 text-base group relative z-30 flex items-center gap-2"
>
  <Image 
    src={logoImage} 
    alt="TYLin Lab Logo" 
    class="h-18 w-auto object-contain" 
    loading="eager" 
  />
</a>

